<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header style="margin-bottom: 10px;">Seja Bem-vindo!</ion-list-header>
          <ion-note *ngIf="authService.isAuthenticated">{{authService.userData[0].email}}</ion-note>
          <ion-note *ngIf="!authService.isAuthenticated">Realize o Login para poder ver o conteúdo!</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-button *ngIf="authService.isAuthenticated" color="danger"  expand="block" (click)="logout()">Logout
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
        </ion-button>
        
        <ion-button color="warning" expand="block" (click)="exitApp()">Fechar App
          <ion-icon slot="start" name="close-outline"></ion-icon>
        </ion-button>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
