<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="alinhar-centro">
  <ion-card>
    <ion-img src="assets/imgs/jornal.jpg"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Sobre:</ion-card-subtitle>
      <ion-card-title>Gaming News</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplicativo criado para estudo, com o intuito de exibir notícias sobre Games usando a NewsApi,
      usando o Firebird para cadastro e login, além disso foi usado o OpenStreetMap para mostrar localização atual.
      <br><br> 
      Versão 1.0.2
      <br><br> 
      Autor:
      <ion-img class="foto-autor" src="assets/imgs/autor2.png"></ion-img>
      Rafael Schliesing
      <br><br> 
      <a href="https://www.facebook.com/rafael.schliesing/" target="_blank">
        <ion-icon name="logo-facebook" class="redes-sociais-icon"></ion-icon>
      </a> 
      <a href="https://twitter.com/rafadigdin" target="_blank">
        <ion-icon name="logo-twitter" class="redes-sociais-icon"></ion-icon>
      </a>
      <a href="https://www.instagram.com/rafadigdin/" target="_blank">
        <ion-icon name="logo-instagram" class="redes-sociais-icon"></ion-icon>
      </a>
      <a href="https://www.reddit.com/rafadigdin/" target="_blank">
        <ion-icon name="logo-reddit" class="redes-sociais-icon"></ion-icon>
      </a>
      <a href="mailto:rafaelschliesing@hotmail.com" target="_blank">
        <ion-icon name="mail-outline" class="redes-sociais-icon"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
